@import 'vars.css';

#modal-window-slate-extension {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999;
  font-family: "Inter";
}

.modalWindow {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
  position: fixed;
  background: var(--white);
  width: 640px;  
  height: 400px;
  border: 1px solid var(--borderGrayLight);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  z-index: 9999;
  border-radius: 16px;
  color: var(--black);
  font-family: "Inter";
  padding-bottom: 8px;
}

.modalBackground {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  position: fixed;
  cursor: pointer;
  z-index: 9998;
}

.modalContent {
  position: relative;
  width: 100%;
}

.modalBody {
  display: flex;
  flex-direction: column;
}

.modalButtonBox {
  margin: 0 auto;
  width: 100%;
}

.modalButtonBox::-webkit-scrollbar { 
  display: none;
}

.modalButton {
  box-sizing: border-box;
  outline: 0;
  border: 0;
  height: 48px;
  min-height: 48px;
  font-size: 14px;
  overflow-wrap: break-word;
  user-select: none;
  cursor: pointer;
  background-color: #fff;
  color: var(--black);
  bottom: 0;
  text-align: left;
  padding-left: 40px;
  font-size: 16px;
  font-family: "Inter";
}

.modalButton:hover {
  background-color: #EAEAEE;
  color: var(--black);
}

.modalButtonMain {
  outline: 0;
  border: 0;
  border-radius: 12px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
  background-color: #fff;
  color: var(--black);
  bottom: 0;
  font-family: "Inter";
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
}

.modalButtonMain:hover {
  background-color: var(--grayLight);
}

.modalButtonSVG {
   margin-left: 16px;
}

.modalButtonSVGItem {

}

.modalButtonSVGItem:hover {
  color: #3DA1FF;
}

.modalButtonText {
  margin-left: 16px;
  font-family: "Inter";
}

.modalButtonShortcut {
  font-size: '12px';
  color: #C7C7CC;
}

.slateButtonSelected {
  background-color: var(--green);
}

.modalSearchBar {
  position: relative;
  background-color: var(--borderGrayLight);
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.modalSearchInput {
  background-color: var(--borderGrayLight);
  top: 0;
  left: 0;
  width: 300px;
  border: none;
  outline: none;
  font-size: 14px;
  height: 50px;
  color: var(--grayDark);
  font-family: "Inter";
}

.metadataCloseIcon {
  position: absolute;
  right: 32px;
  cursor: pointer;
  top: 4px;
}

.metadata {
  position: relative;
  background-color: transparent;
  display: flex;
  margin-top: 16px;
  padding-left: 32px;
  padding-bottom: 16px;
  border-bottom: 1px #E5E8EA solid;
}

.metadataBox {
}

.metadataImage {
  border-radius: 8px;
  margin-top: 8px;
  object-fit: cover;
  min-height: 20px;
  min-width: 20px;
}

.metadataBox2 {
  margin-left: 16px;
}

.metadataBox3 {
  position: absolute;
  right: 32px;
}

.metaDataTitle {
  color: var(--black);
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 4px;
}

.modalCloseButton {
  color: var(--black);
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
}

.metaDataUrl {
  color: var(--black);
  font-family: "Inter";
  font-size: 16px;
}


input:focus {
    outline:none;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C7C7CC;
}

.loaderWindow {
  top: 0%;
  right: 0%;
  margin-top: 2em;
  margin-right: 2em;
  position: fixed;
  background: var(--white);
  width: 320px;  
  height: 88px;
  max-width: 320px;  
  max-height: 88px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  z-index: 9999;
  border-radius: 10px;
  border: 0;
  color: var(--black);
}

.loaderBody {
  width: 100%;
}

.loaderContent {
  color: var(--white);
  font-size: 14px;
}

.loaderText {
  color: var(--black);
  padding-left: 48px;
  line-height: 48px;
  font-weight: 600;
  cursor: default;
}

.loaderBox {
  width: 32px;
  height: 32px;
  background-color: #F2F2F7;
  color: var(--gray);
  
}

.loaderImage {
  position: absolute;
  line-height: 40px;
  top: 14px;
  left: 14px;
  object-fit: cover;
  border-radius: 10px;
  width: 24px;
  height: 24px;
}

.loaderFooter {
  bottom: 0px;
  width: 100%;  
  height: 40px;
  line-height: 40px;
  background-color: #F2F2F7;
  color: var(--gray);
  border-radius: 0 0 10px 10px; 
}

.loaderFooterRight {
  text-align: right;
  right: 14px;
  font-weight: 400;
  font-family: 'Inter';
  display: inline;
  position: absolute;
}

.loaderFooterLeft {
  text-align: left;
  font-weight: 400;
  font-family: 'Inter';
  left: 0px;
  padding-left: 14px;
  display: inline;
}

.loaderClose {
  cursor: pointer;
  text-align: 'right';
  right: 14px;
  display: inline;
  position: absolute;
  color: var(--gray);
  line-height: 48px;
}

.loaderClose:hover {
  transition: 0.3s;
  color: var(--black);
}

.modalSearchItem {
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding-left: 16px;
  cursor: pointer;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  background-color: var(--borderGrayLight);
  color: var(--gray);
}

.modalSearchItem:hover {
  background-color: #EAEAEE;
}

.modalSearchLoading {
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding-left: 16px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  background-color: var(--borderGrayLight);
  color: var(--gray);
}

.modalSearchDropdown {
  z-index: 99999;
  margin-left: -24px;
  width: 400px;
  height: auto;
  max-height: 200px;
  background-color: var(--borderGrayLight);
  position: absolute;
  border-radius: 0 0 10px 10px;
  border-top-style: none;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.15);
  overflow-x: hidden;
  overflow-y: scroll;
}

.modalShortcut {
  width: auto;
  background-color: var(--grayLight);
  border-radius: 6px;
  padding: 1px 3px 1px 3px;
  margin-right: 4px;
}

.modalGoBack {
  width: 20px;
  height: 20px;
  margin-right: 14px;
  background-color: var(--grayLight);
  border-radius: 6px;
  padding: 6px 4px 6px 4px;
  cursor: pointer;
  display: inline;
}

.modalTable {
  text-align: left;
  width: 100%;
  margin-top: 8px;
}

.modalTr {
  border-bottom: 1px solid var(--borderGrayLight);
  color: var(--gray);
  margin-top: 8px;
  font-size: 12px;
  margin-left: 32px;
}

.modalAccount {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modalAccountContent {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 150px;
  transform: translate(-50%, -50%);
}

.modalLink {
  color: var(--blue);
  font-weight: 600;
  text-decoration: none;
}

.modalHeader {
  height: 52px;
  border-bottom: 1px solid var(--borderGreyLight);
  line-height: 52px;
  padding-left: 32px;
  width: 100%;
}

.modalHeaderTitle {
  font-weight: 600;
  font-family: 'Inter';
  font-size: 16px;
  display: inline;
}

.modalProgressContainer {
  margin: 8px 0 8px 0;
  width: 240px;
  background-color: var(--white);
  border-radius: 2px;
  border: 2px solid #D1D4D6;
}

.modalProgressBar {
  height: 8px;
  background-color: var(--blue);
  border-radius: 2px;
}

.modalSystemText {
  margin-left: 32px;
  color: var(--gray);
  padding-top: 8px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.modalCommandIcon {
  background-color: var(--grayLight);
  border-radius: 6px;
  padding: 1px;
  margin-right: 4px;
}

.modalKeyIcon {
  background-color: var(--grayLight);
  border-radius: 6px;
  padding: 1px 3px 1px 3px;
}

.modalTableHeader {
  display: flex;
  justify-content: left;
  border-bottom: 1px solid var(--borderGreyLight); 
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12px;
  color: var(--gray);
}

.modalTableContent {
  display: flex;
  justify-content: left;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  color: var(--black);
}

.modalAccountUsername {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding-top: 16px;
  display: flex;
  margin: auto 0;
  justify-content: center;
  clear: both;
  align-items: center;
}

.modalAccountStorage {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding-top: 4px;
  display: flex;
  margin: auto 0;
  justify-content: center;
  clear: both;
  align-items: center;
}

.modalSmallButton {
  width: auto;
  margin-top: 32px;
  text-align: center;
  clear: both;
  background-color: var(--borderGreyLight);
  color: var(--black);
  border-radius: 8px;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}


