#modal-window {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999;
  font-family: Inter-Regular;
}

.modalWindow {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
  margin-top: 2em;
  position: fixed;
  background: #E5E8EA;
  backdrop-filter: blur(50px);
  opacity: 0.95;
  width: 400px;  
  height: 260px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  z-index: 9999;
  border-radius: 10px;
  border: 0;
  color: #00050A;
  font-family: Inter-Regular;
}

.modalBackground {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  position: fixed;
  cursor: pointer;
  z-index: 9998;
}

.modal-window-inner-border {
  min-height: 200px;
  height: initial;
  display: flex;
  box-shadow: 0 0 0 0.4px #222132;
}

.modal-window-inner-border:before {
  position: absolute;
  top: .4px;
  left: .4px;
  right: .4px;
  bottom: .4px;
  border: .5px solid #57566d;
}

.modal-handle {
  cursor: move;
  height: 15px;
  border-radius: 3px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modalContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  color: #00050A;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto; 
  width: '352px';
}

.modal-content-drawer-handle {
  height: 100%;
  width: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-button {
  cursor: pointer;
}

.modalBody {
  display: flex;
  flex-direction: column;
}

.modalButtonBox {
  margin: 0 auto;
  overflow: auto;
  width: 352px;
  height: 142px;
  border-radius: 12px;
}

.modalButtonBox::-webkit-scrollbar { 
  display: none;
}

.modalButton {
  box-sizing: border-box;
  outline: 0;
  border: 0;
  height: 48px;
  min-height: 48px;
  font-size: 14px;
  overflow-wrap: break-word;
  user-select: none;
  cursor: pointer;
  background-color: #fff;
  color: #00050A;
  bottom: 0;
  text-align: left;
  padding-left: 40px;
  font-size: 16px;
  font-family: 'Inter'
}

.modalButton:hover {
  background-color: #EAEAEE;
  color: #00050A;
}

.modalButtonMain {
  outline: 0;
  border: 0;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  overflow-wrap: break-word;
  user-select: none;
  cursor: pointer;
  background-color: #fff;
  color: #00050A;
  bottom: 0;
  text-align: left;
  font-family: Inter-Regular;
  border-bottom: 1px solid #E5E8EA;
  display: table; 
  width: 100%; 
}

.modalButtonMain:hover {
  color: #3DA1FF;
  fill: #3DA1FF;
}

.modalButtonSVG {
   display: table-cell; 
   padding-left: 14px;
   padding-top: 6px; 
   text-align: left;
}

.modalButtonSVGItem {

}

.modalButtonSVGItem:hover {
  color: #3DA1FF;
}

.modalButtonText {
  display: table-cell; 
  width: 86%; 
  left: 0px;
  line-height: 40px;
  margin-bottom: 12px;
  text-align: left; 
  font-family: Inter-Regular;
}

.modalButtonShortcut {
  font-size: '12px';
  color: #C7C7CC;
}

.slateButtonSelected {
  background-color: '#4d4' !important;
}

.modalSearchBar {
  position: relative;
  background-color: #E5E8EA;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.modalSearchInput {
  background-color: #E5E8EA;
  top: 0;
  left: 0;
  width: 300px;
  border: none;
  outline: none;
  font-size: 14px;
  height: 50px;
  color: #48494A;
  font-family: Inter-Regular;
}

.metadataCloseIcon {
  position: absolute;
  display: inline;
  right: 24px;
  cursor: pointer;
}

.metadata {
  color: #48484A;
  background-color: transparent;
  display: flex;
  height: 86px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.metadataBox {
  flex: 1;
}

.metadataImage {
  border-radius: 12px;
  object-fit: cover;
  min-height: 48px;
  min-width: 48px;
}

.metadataBox2 {
  flex: 1;
  flex-grow: 4;
  margin-top: -14px;
  margin-left: -8px;
}

.metaDataTitle {
  color: '#000';
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 4px;
}

.modalCloseButton {
  color: '#000';
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 4px;
}

.metaDataUrl {
  color: '#000';
  font-family: 'Inter';
  font-size: 12px;
  display: inline;
}


input:focus {
    outline:none;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C7C7CC;
}

.loaderWindow {
  top: 0%;
  right: 0%;
  margin-top: 2em;
  margin-right: 2em;
  position: fixed;
  background: #fff;
  width: 320px;  
  height: 88px;
  max-width: 320px;  
  max-height: 88px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  z-index: 9999;
  border-radius: 10px;
  border: 0;
  color: #000;
}

.loaderBody {
  width: 100%;
}

.loaderContent {
  color: white;
  font-size: 14px;
}

.loaderText {
  color: #000002;
  padding-left: 48px;
  line-height: 48px;
  font-weight: 600;
  cursor: default;
}

.loaderBox {
  width: 32px;
  height: 32px;
  background-color: #F2F2F7;
  color: #8E8E93;
  
}

.loaderImage {
  position: absolute;
  line-height: 40px;
  top: 14px;
  left: 14px;
  object-fit: cover;
  border-radius: 10px;
  width: 24px;
  height: 24px;
}

.loaderFooter {
  bottom: 0px;
  width: 100%;  
  height: 40px;
  line-height: 40px;
  background-color: #F2F2F7;
  color: #8E8E93;
  border-radius: 0 0 10px 10px; 
}

.loaderFooterRight {
  text-align: 'right';
  right: 14px;
  display: inline;
  position: absolute;
}

.loaderFooterLeft {
  text-align: 'left';
  left: 0px;
  padding-left: 14px;
  display: inline;
}

.loaderClose {
  cursor: pointer;
  text-align: 'right';
  right: 14px;
  display: inline;
  position: absolute;
  color: #8E8E93;
}

.loaderClose:hover {
  transition: 0.3s;
  color: #000;
}

.loaderFadeOut {
   opacity:0;
   transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.loaderFadeIn {
   opacity:1;
   transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.hiddenModal {
  display: none;
}

.visableModal {
  display: inline;
}

.modalSearchItem {
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding-left: 16px;
  cursor: pointer;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  background-color: #E5E8EA;
  color: #8E8E93;
}

.modalSearchItem:hover {
  background-color: #EAEAEE;
}

.modalSearchLoading {
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding-left: 16px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  background-color: #E5E8EA;
  color: #8E8E93;
}

.modalSearchDropdown {
  z-index: 99999;
  margin-left: -24px;
  width: 400px;
  height: auto;
  max-height: 200px;
  background-color: #E5E8EA;
  position: absolute;
  border-radius: 0 0 10px 10px;
  border-top-style: none;
  box-shadow: 0 1rem 1rem rgba(0,0,0,.15);
  overflow-x: hidden;
  overflow-y: scroll;
}

